.div-logoMsenai{
display: flex;
justify-content: center;
width: 100%;
margin-top: 50%;
}
.img-senai{
width: 30%;
}
.div-logoSenai{
    display: flex;
    justify-content: center;
    margin-top: 15%;
}

h1{
    display: flex;
    justify-content: center;
}
footer{

    width: 33.6%;
    color: white;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 10px;
    
}